/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Body Styles */
body {
  font-family: Helvetica, Arial, system-ui;
  /* height: 100vh; */
  line-height: 1.5;
}

.carousel-main {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 30%;
  margin: 0 auto;
}

.carousel-upper {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.left-button,
.right-button {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.carousel-image {
  height: 300px;
  width: 300px;
}

.carousel-lower {
  display: flex;
  position: absolute;
  top: 100%;
  left: 31%;
  justify-content: center;
  gap: 5px;
}

.dot {
  color: silver;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active {
  color: black;
}
